In [7]:
pwd

'C:\\Users\\sciys\\Downloads\\python-master'

In [8]:
import pandas as pd

In [9]:
kopo_product_volume=pd.read_csv("./dataset/kopo_product_volume.csv",encoding="ms949")

In [10]:
kopo_product_volume.head()

  REGIONID PRODUCTGROUP  YEARWEEK      VOL
0      A01       ST0002    201512  151,750
1      A01       ST0001    201520  645,626
2      A01       ST0002    201520  125,863
3      A01       ST0001    201515  810,144
4      A01       ST0002    201515  128,999