# 변수선언

In [11]:
int_value = 123
int_value

123

In [12]:
float_value = 12.456
float_value

12.456

# 더하기 연산

In [13]:
sumation=int_value + float_value
sumation

135.456

# 곱하기 연산

In [14]:
multiple=int_value * float_value
multiple

1532.088

# 제곱 연산

In [15]:
int_value2 = int(float_value)
exponential = int_value2**2
exponential

144

# 나머지 연산

In [16]:
mod=int_value%int(float_value)
mod

3

# 현재 시간과 분을 입력값으로 받아서 두개의 값을 더하는 연산을 수행하시오

In [17]:
from datetime import datetime
now=datetime.now()
now.minute+now.second
now

datetime.datetime(2019, 3, 26, 8, 35, 34, 425234)

In [18]:
from datetime import datetime as dt
currentDate = dt.now()
currentDate

datetime.datetime(2019, 3, 26, 8, 35, 34, 524241)

In [19]:
hourVar= currentDate.hour
hourVar

8

In [20]:
minutesVar = currentDate.minute
minutesVar

35

# 변수의 합

In [21]:
answer=hourVar+minutesVar
answer

43

# 문자열 더하기

In [22]:
head = "fintech"
head

'fintech'

In [23]:
tail = "student"
tail

'student'

In [24]:
fullstring = head+" "+tail
fullstring

'fintech student'

# 문자열 곱하기

In [25]:
starChar = "*"
starChar

'*'

In [26]:
starMul = "*"*100
starMul

'****************************************************************************************************'

# 문자열 count

In [27]:
yearweek = "2017W28"
yearweek.count('W')

1

# 문자열 위치확인

In [28]:
yearweek.index('W')

4

In [29]:
delimeter = yearweek.index('W')
delimeter

4

In [30]:
yearweek_new = yearweek[:delimeter]+yearweek[delimeter+1:]
yearweek_new

'201728'

# split 함수

In [31]:
yearweek_list = yearweek.split("W")
yearweek_list

['2017', '28']

In [32]:
type(yearweek_list)

list

In [33]:
yearweek.lower()

'2017w28'

# "SEC 20180212 250" 문자열 생성후 stock_name, date, value로 각각 의미하는 문자열을 생성하시오

In [34]:
totalVal = "SEC 20180212 250"

blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)

stockName = totalVal[0:blank1]
date = totalVal[blank1+1:blank2]
value = totalVal[blank2:]

In [35]:
totalValue = "SEC 20180212 250"
totalValue

'SEC 20180212 250'

In [36]:
blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)
stockName = totalVal[0:blank1]
stockName

'SEC'

In [37]:
blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)
date = totalVal[blank1+1:blank2]
date

'20180212'

In [38]:
blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)
value = totalVal[blank2:]
value

' 250'

In [39]:
stockName, date, value

('SEC', '20180212', ' 250')

# "Sec 2018W28 250" 문자열생성후 stock_name, date, value로 각각 의미하는 문자열을 생성하시오 단, 모두 대문자, 'W'를 삭제해야 함

In [40]:
totalVal = "Sec 2018W28 250"

stockName = totalVal[0:blank1].upper()
date = totalVal[blank1+1:blank2].replace("W", "")
value = totalVal[blank2+1:]

In [41]:
totalValue = "Sec 2018W28 250"
totalValue

'Sec 2018W28 250'

In [42]:
blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)
stockName = totalVal[0:blank1].upper()
stockName

'SEC'

In [43]:
blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)
date = totalVal[blank1+1:blank2].replace("W", "")
date

'201828'

In [44]:
blank1 = totalVal.index(" ")
blank2 = totalVal.index(" ", 4)
value = totalVal[blank2+1:]
value

'250'

In [45]:
stockName, date, value

('SEC', '201828', '250')

# [120,150,300,500,1000,100,2000] 값에서 최소 최대 값을 뺀 평균을 average 이름의 변수에 담으시오

In [46]:
#LIST 선언
numList = [120, 150, 300, 500, 1000, 100, 2000]
numList

[120, 150, 300, 500, 1000, 100, 2000]

In [47]:
#LIST 정렬
numList.sort(reverse = False)
numList

[100, 120, 150, 300, 500, 1000, 2000]

In [48]:
#LIST 최소값 저장
minList = min(numList)
minList

100

In [49]:
#LIST 최대값 저장
maxList = max(numList)
maxList

2000

In [50]:
#최소값 삭제
numList.remove(minList)
numList

[120, 150, 300, 500, 1000, 2000]

In [51]:
#최대값 삭제
numList.remove(maxList)
numList

[120, 150, 300, 500, 1000]

In [52]:
#LIST의 길이값들의 합 저장
averageList = len(numList)
averageList

5

In [53]:
sum

In [54]:
#LIST의 인덱스 값들의 합 저장
sumList = sum(numList)
sumList

2070

In [55]:
#평균변수 선언
average = sumList/averageList
average

414.0

In [56]:
numList
sumList
averageList
average

414.0

In [2]:
#LIST 선언
numList = [120,150,300,500,1000,100,2000]
numList

[120, 150, 300, 500, 1000, 100, 2000]

In [4]:
#LIST 정렬
numList.sort(reverse = False)
numList

[100, 120, 150, 300, 500, 1000, 2000]

In [6]:
#최소값 삭제
del numList[0]
numList

[150, 300, 500, 1000, 2000]

In [7]:
#최대값 삭제
del numList[len(numList)-1]
numList

[150, 300, 500, 1000]

In [9]:
#LIST 길이
averageList = len(numList)
numList

[150, 300, 500, 1000]

In [10]:
#LIST의 합
sumList = sum(numList)
sumList

1950

In [11]:
#평균변수선언
average = sumList/averageList
average

487.5

# dictionary

In [6]:
# dictionary 생성
d = dict(name="cys", value=19810216, address="buchun")
d

{'name': 'cys', 'value': 19810216, 'address': 'buchun'}

In [9]:
# dictionary 관련 함수
dict1 = {"201701":"0.2", "201702":"0.5", "201703":"07"}
dict1["201701"]

'0.2'

# pandas library 로 데이터 불러오기

In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\sciys\\Downloads\\python-master'

In [4]:
customerdata1 = pd.read_csv("./dataset/customerdata.csv")
customerdata1.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog